# Ruby
backend/vendor/
backend/.bundle/
backend/Gemfile.lock

ideias_de_jogos.txt
#ss
CLAUDE.md
mudanças.txt

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
